.contact-page {
    margin-block-start: 150px;
    &.dark-mode {
        input,
        textarea {
            background-color: transparent;
            color: $clr-txt-darkmode;
        }
        .btn-submit {
            color: $clr-main-darkmode;
            &.submitting {
                opacity: 0.5;
            }
        }
    }
    p {
        font-family: nunito;
        font-size: 3em;
        text-align: center;
        word-break: break-word;
        margin: auto;
        margin-block-end: 75px;
    }
    label {
        font-weight: 300;
        font-size: 1.15em;
        display: block;
        margin-block-end: 0.5rem;
    }
    input {
        width: 100%;
    }
    textarea {
        resize: vertical;
        width: 100%;
        min-height: 200px;
    }
    input,
    textarea {
        border-radius: 4px;
        border: 1px solid $clr-border;
        color: #141c3a;
        font-weight: 300;
        box-shadow: none;
        font-size: 1.25em;
        padding: 10px 15px;
        font-family: inherit;
    }
    > div {
        > div {
            width: 48%;
        }
        &:first-of-type {
            margin-block-end: 1.5rem;
        }
        &:last-of-type {
            margin-block-end: 3rem;
        }
    }
    .btn-submit {
        display: block;
        margin: auto;
        margin-block-end: 7rem;
        font-size: 2rem;
        font-weight: 300;
        color: $clr-main;
        transition: transform 0.1s;
        &:hover {
            transform: scale(1.03);
        }
        &:active {
            transform: scale(0.98);
        }
        &.submitting {
            color: lightgray;
            &::after {
                content: "ting";
            }
        }
    }

    .Toastify__toast {
        background-color: $clr-body-darkmode;
        font-size: 1.7em;
        font-family: nunito;
        padding: 0.3rem 1.2rem;
        width: fit-content;
        white-space: nowrap;
        &-body {
            margin-inline-end: 1.25rem;
        }
        &--success {
            &::before {
                content: url(https://res.cloudinary.com/tomleb3/image/upload/v1614781122/portfolio/success_keefxg.webp);
                margin-inline-end: 1rem;
                transform: scale(0.5);
            }
        }
        &--error {
            &::before {
                content: url(https://res.cloudinary.com/tomleb3/image/upload/v1614781122/portfolio/error_zgiy0u.webp);
                margin-inline-end: 1rem;
                transform: scale(0.4);
            }
        }
    }

    @media (max-width: $narrow-breakpoint) {
        > p {
            font-size: 2em;
        }
        > div {
            > div {
                width: 100%;
                margin-block-end: 1rem;
            }
            &:first-of-type {
                flex-direction: column;
            }
        }
    }
    @media (min-width: $normal-breakpoint) {
        max-width: 650px;
    }
}
