// NUNITO

@font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 300;
    src: url(../../assets/fonts/Nunito/Nunito-Light.ttf);
}
@font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: 'nunito';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/Nunito/Nunito-Bold.ttf);
}

// OPEN_SANS

@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 300;
    src: url(../../assets/fonts/OpenSans/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'open-sans';
    font-style: normal;
    font-weight: 700;
    src: url(../../assets/fonts/OpenSans/OpenSans-Bold.ttf);
}
