// Colors
$clr-logo: #ed4c5f;
$clr-main: #7510f7;
$clr-body: #fafafa;
$clr-txt: #262626;
$clr-border: #dad8d8;
$clr-footer: #121212;

// Colors (dark-mode)
$clr-main-darkmode: #567bb3;
$clr-secondary-darkmode: #2e2e2e;
$clr-body-darkmode: #262626;
$clr-txt-darkmode: #f5f5f5;
$clr-footer-darkmode: #fafafa;

// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 768px;
$normal-breakpoint: 1024px;
