.app-footer {
    color: $clr-txt-darkmode;
    background-color: $clr-footer;
    &.dark-mode {
        color: $clr-txt;
        background-color: $clr-footer-darkmode;
    }
    .contact-cta {
        &_title {
            font-size: 2.5em;
        }
        &_subtitle {
            font-size: 1.5em;
        }
        &_link {
            display: block;
            font-size: 1.25em;
            margin-top: 1rem;
            font-weight: bold;
            text-decoration: underline;
        }
    }
    .content {
        height: 400px;

        .social-container {
            .social-link {
                padding: 0.7em;
                svg {
                    height: 25px;
                    width: 25px;
                }
            }
        }
        small {
            font-weight: 300;
        }
    }

    @media (max-width: $mobile-breakpoint) {
        font-size: 12px;
        .contact-cta_link {
            font-size: 1.75em;
            margin-top: 2rem;
        }
    }
}
