.early-work {
    padding: 9rem 1rem;
    & > {
        strong,
        p {
            font-weight: 300;
            margin-block-end: 1.5rem;
            display: block;
        }
        strong {
            font-size: 2em;
            font-family: nunito;
        }
        p {
            font-size: 1.25em;
        }
    }
    @media (max-width: $mobile-breakpoint) {
        max-width: 100%;
        padding: 7rem 1rem;
    }
}
