.hero {
    text-align: center;
    height: 100vh;
    * {
        margin: 0 auto;
        width: fit-content;
    }
    > div {
        margin-block-start: 175px;
    }
    strong,
    p {
        margin-block-end: 1.5rem;
        font-weight: 300;
        display: block;
    }
    strong {
        font-size: 3em;
        font-family: nunito;
    }
    p {
        font-size: 1.5em;
    }
    .avatar {
        width: 22vh;
        margin: auto;
    }

    @media (max-width: $normal-breakpoint) {
        * {
            width: 100%;
        }
        strong {
            font-size: 2.5em;
        }
        p {
            font-size: 1.25em;
        }
    }
    @media (max-width: $narrow-breakpoint) {
        strong {
            font-size: 2em;
        }
        .avatar {
            width: 17vh;
        }
        > div {
            margin-block-start: 125px;
        }
    }
}
