.skills {
    border-radius: 12px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
    margin-block-start: -9rem;
    background-color: white;

    &.dark-mode {
        background-color: $clr1-darkmode;
    }

    > div {
        width: 33.3%;
        text-align: center;
        padding: 70px 45px;
        &:not(:last-of-type) {
            border-right: 1px solid #e6ecf8;
        }
        * {
            margin-block-end: 1.5rem;
        }
        > img {
            height: 48px;
        }
        > p {
            margin-block-end: 5rem;
        }
        > label {
            color: $clr2;
        }
        > span {
            font-size: 0.9em;
        }
    }

    @media (max-width: $normal-breakpoint) {
        flex-direction: column;
        div {
            width: 100%;
            padding: 30px 45px;
            &:not(:last-of-type) {
                border-right: none;
                border-bottom: 1px solid #e6ecf8;
            }
            * {
                margin-block-end: 2rem !important;
            }
        }
    }
}
